*.DS_Store
build-Snake-Desktop_Qt_5_13_0_clang_64bit-Debug/.DS_Store
build-Snake-Desktop_Qt_5_13_0_clang_64bit-Debug/*.o
build-Snake-Desktop_Qt_5_13_0_clang_64bit-Debug/*.h
build-Snake-Desktop_Qt_5_13_0_clang_64bit-Debug/*.cpp
build-Snake-Desktop_Qt_5_13_0_clang_64bit-Debug/.qmake.stash